<h1>Reservation History List</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>


                        <th>
                            ReservationHistID
                        </th>
                        <th>
                            check in
                        </th>
                        <th>
                            check out
                        </th>

                        <th>
                            Guest ID
                        </th>
                        <th>
                            Guest Name
                        </th>
                        <th>
                            Guest Surname
                        </th>
                        <th>
                            Room Nr
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let reservation of reservationHistoryItems">
                        <td>
                           
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>

                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>

                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>