<h1>Reservation History List</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>


                        <th>
                            ReservationHistID
                        </th>
                        <th>
                            check in
                        </th>
                        <th>
                            check out
                        </th>

                        <th>
                            Guest ID
                        </th>
                        <th>
                            Guest Name
                        </th>
                        <th>
                            Guest Surname
                        </th>
                        <th>
                            Room Nr
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let reservation of reservationHistoryItems">
                        <td>
                            {{reservation.reservationHistoryID}}
                        </td>
                        <td>
                            {{reservation.check_in_History.substr(0, 10)}}
                        </td>
                        <td>
                            {{reservation.check_out_History.substr(0,10)}}
                        </td>
                        <td>
                            {{reservation.guest.guestID}}
                        </td>
                        <td>
                            {{reservation.guest.name}}
                        </td>
                        <td>
                            {{reservation.guest.surname}}
                        </td>
                        <td>
                            {{reservation.room.number}}
                        </td>


                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>